.columns-media > div {
  display: flex;
  flex-direction: column;
}

.columns-media img {
  width: 100%;
}

.columns-media > div > div {
  order: 1;
}

.columns-media > div > .columns-media-img-col {
  order: 0;
}

.columns-media > div > .columns-media-img-col img {
  display: block;
}

.columns-media h4,
.columns-media h3 {
  color: var(--brand-secondary);
  font-weight: 600;
}

.columns-media a:any-link {
  color: var(--brand-primary);
  text-decoration: none;
}

.columns-media a:hover {
  text-decoration: underline;
}

@media (width >= 900px) {
  .columns-media > div {
    align-items: flex-start;
    flex-direction: unset;
    gap: 32px;
  }

  .columns-media > div > div {
    flex: 1;
    order: unset;
  }
}
